body {
    background-color: lime
}

#app-container {
    background-color: forestgreen
}

#opponent-side {
    background-color: firebrick
}

#opponent-statistics {
    background-color: tomato
}

#divider {
    background-color: black
}

#player-side {
    background-color: skyblue
}

#player-board {
    background-color: royalblue
}

#player-statistics {
    background-color: aqua
}

#player-commands {
    background-color: cornflowerblue
}

#scan-btn {
    background-color: darkcyan
}

#attack-btn {
    background-color: dodgerblue
}

#move-btn {
    background-color: teal
}

#special-btn {
    background-color: steelblue
}